@keyframes aparicion{
    from{
        opacity: 0;
        left: -500px;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

@-webkit-keyframes aparicion{
    from{
        opacity: 0;
        left: -500px;
    }
    to{
        opacity: 1;
        left: 0;
    }
}